<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions Required -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="34" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="34" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/bird_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bird_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".HelpLineActivity"
            android:exported="false" />
        <activity
            android:name=".FakeCallActivity"
            android:exported="false" />
        <activity
            android:name=".SelfDefenceActivity"
            android:exported="false" />
        <activity
            android:name=".RecordAudioActivity"
            android:exported="false" />
        <activity
            android:name=".AddContactActivity"
            android:exported="false" />
        <activity
            android:name=".ViewContactsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Registration Activity -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" /> <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" /> <!-- HomeScreen Activity -->
        <activity
            android:name=".HomeScreenActivity"
            android:exported="true" />
    </application>

</manifest>